body{
    padding: 5px;
    font-family: 'Poppins';
    width: 90%;

}
.nav{
    color:white ;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.agri{
    font-size: 25px;
    font-weight: bolder;
    
}
.button{
    background-color:#ED661F;
    color: white;
    padding: 10px;
}
.nav-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    

}

div.nav-list li{
    display: inline;
    padding: 1em;
}

span{
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    
}
 h1{
    font-family: inter;
}


.displ-1{
    background-image: url('images/image 1.png');
    background-size: contain;
    /* background-repeat: inherit; */
    height: 100%;
    padding: 70px;
    display: flex;
    justify-items: space-around;

}
.buying{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-style: Inter;
}
.img-1{
    width:90%;
}
.displ-2{
    background-color: white;
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: space-around;
    left: 42%;
    bottom: 90px;;
    padding: 5px;
    box-shadow: 0px 5px 5px grey;
    width: 50%;
}

.why{
    display:flex;
    justify-items: space-around;
}
.img-why{
    width: 50%;
}

.our{
    display: block;
    text-align: center;
}

.popular{
    display: flex;
    justify-content: space-around;

}
.img-row{
    width: 80%;
}